.cache
.git
build/
build/*

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
*.cbp
compile_commands.json

*.o
*.obj
*.a
*.lib
*.dll
*.so
*.exe

.DS_Store
Thumbs.db

.vscode/
.idea/
*.user
*.suo
*.swp

examples/*/build/
examples/*/.cache
